// colors
$light: #FFFFFF;
$dark:#222222;
$dark-5:rgba(34, 34, 34, 0.05);
$dark-30:rgba(34, 34, 34, 0.30);

$grey1:#F7F7F7;
$grey2:#EBEBEB;
$grey3:#DDDDDD;
$grey4:#D3D3D3;
$grey5:#C2C2C2;
$grey6:#B0B0B0;
$grey7:#717171;
$grey8:#5E5E5E;

$primary1:#F6475F;
$primary2:#FF385C;

$secondary1:#D33753;
$secondary2:#C72D65;

$error1:#FEF8F6;
$error2:#C13515;

$accent1:#F6D7DF;
$accent2:#D03660;
$discount:#008A05;
$link:#004CC4;

// font-size
$txt1: 2rem;
$txt2: 1.6rem;
$txt3: 1.2rem;
$txt4: 1rem;
$txt5: 0.8rem;